In [19]:
import pandas as pd
import numpy as np
from tqdm import tqdm

tqdm.pandas()

In [20]:
df_olympics = pd.read_csv('data/olympic_history/athlete_events.csv')
df_noc = pd.read_csv('data/olympic_history/noc_regions.csv')

In [21]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [22]:
df_olympics['Medal'] = df_olympics['Medal'].fillna("")
df_olympics.loc[df_olympics['Medal'] == 'Gold', 'mcount'] = 3
df_olympics.loc[df_olympics['Medal'] == 'Silver', 'mcount'] = 2
df_olympics.loc[df_olympics['Medal'] == 'Bronze', 'mcount'] = 1
df_olympics.loc[df_olympics['Medal'] == '', 'mcount'] = 0

df_olympics['mcount'] = df_olympics['mcount'].astype(int)

df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,mcount
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,3
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,,0

In [23]:
# df_olympics = df_olympics.groupby(['NOC', 'Year', 'Event']).agg({'mcount': 'sum'}).reset_index()

In [24]:
df_olympics = df_olympics.merge(df_noc, on='NOC')

df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,mcount,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,,0,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,,0,China,NaN
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,,0,China,NaN
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",,0,China,NaN
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,,0,China,NaN

In [25]:
df_olympics = df_olympics.drop(['notes'], axis = 1)
display(df_olympics)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,mcount,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,,0,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,,0,China
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,,0,China
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",,0,China
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,,0,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270762,120575,Mamorallo Tjoka,F,23.0,150.0,56.0,Lesotho,LES,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,,0,Lesotho
270763,120575,Mamorallo Tjoka,F,27.0,150.0,56.0,Lesotho,LES,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Marathon,,0,Lesotho
270764,122166,M'apotlaki Ts'elho,F,15.0,NaN,NaN,Lesotho,LES,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Women's 4 x 100 metres Relay,,0,Lesotho
270765,122215,Lefa Tsapi,M,23.0,170.0,63.0,Lesotho,LES,1984 Summer,1984,Summer,Los Angeles,Boxing,Boxing Men's Welterweight,,0,Lesotho
270766,122299,Mosolesa Tsie,M,20.0,175.0,75.0,Lesotho,LES,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Welterweight,,0,Lesotho

In [26]:
# df_olympics.columns = ['NOC', 'Year', 'Event', 'mcount', 'Country']
df_olympics = df_olympics.dropna()
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,mcount,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,,0,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,,0,China
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,,0,China
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",,0,China
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,,0,China

In [28]:
final_dataset = df_olympics.copy()

In [29]:
from geopy.geocoders import Nominatim
latlng_country = {}

countries = final_dataset['region'].copy().unique()

geolocator = Nominatim(user_agent="data-processing")
for country in countries:
    try:
        loc = geolocator.geocode(country)
        latlng_country[country] = (loc.latitude, loc.longitude)
    except:
        print("unable to geocode " + country)

unable to geocode Individual Olympic Athletes

In [30]:
def geolocate(row):
    country = row['region']
    try:
        loc = latlng_country[country]
        row['lat'] = loc[0]
        row['long'] = loc[1]
        return row
    except:
        return np.nan

final_dataset = final_dataset.progress_apply(lambda row: geolocate(row), axis=1)
print(final_dataset.shape)
final_dataset = final_dataset.dropna()
print(final_dataset.shape)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 205895/205895 [02:36<00:00, 1314.25it/s]

(205895, 19)
(205827, 19)

In [31]:
display(final_dataset)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,mcount,region,lat,long
0,1.0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,,0.0,China,35.000074,104.999927
1,2.0,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,,0.0,China,35.000074,104.999927
2,602.0,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000.0,Summer,Sydney,Boxing,Boxing Men's Middleweight,,0.0,China,35.000074,104.999927
3,1463.0,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004.0,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",,0.0,China,35.000074,104.999927
4,1464.0,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016.0,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,,0.0,China,35.000074,104.999927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270760,119487.0,Likeleli Alinah Thamae,F,22.0,170.0,49.0,Lesotho,LES,2000 Summer,2000.0,Summer,Sydney,Taekwondo,Taekwondo Women's Flyweight,,0.0,Lesotho,-29.603927,28.335019
270762,120575.0,Mamorallo Tjoka,F,23.0,150.0,56.0,Lesotho,LES,2008 Summer,2008.0,Summer,Beijing,Athletics,Athletics Women's Marathon,,0.0,Lesotho,-29.603927,28.335019
270763,120575.0,Mamorallo Tjoka,F,27.0,150.0,56.0,Lesotho,LES,2012 Summer,2012.0,Summer,London,Athletics,Athletics Women's Marathon,,0.0,Lesotho,-29.603927,28.335019
270765,122215.0,Lefa Tsapi,M,23.0,170.0,63.0,Lesotho,LES,1984 Summer,1984.0,Summer,Los Angeles,Boxing,Boxing Men's Welterweight,,0.0,Lesotho,-29.603927,28.335019
270766,122299.0,Mosolesa Tsie,M,20.0,175.0,75.0,Lesotho,LES,2000 Summer,2000.0,Summer,Sydney,Boxing,Boxing Men's Welterweight,,0.0,Lesotho,-29.603927,28.335019

In [32]:
final_dataset.to_csv('data/final_data_with_sports.csv')

In [43]:
tmp = final_dataset.groupby(['NOC', 'Medal']).size().unstack(fill_value=0)
tmp

Medal        Bronze  Gold  Silver
NOC
AFG      52       2     0       0
AHO      51       0     0       0
ALB      57       0     0       0
ALG     466       6     5       4
AND     135       0     0       0
..      ...     ...   ...     ...
YEM      25       0     0       0
YMD       2       0     0       0
YUG    1323      83   122     116
ZAM     127       0     0       1
ZIM     265       1    17       4

[222 rows x 4 columns]